<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Signup</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="error.isError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error.errorMessage}}
          </div>
          <form method="POST" action="javascript:void(0);" enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label">Gender</label>
              <div>
                <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="signUpUser.gender" value="M">Male</label>
                <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="signUpUser.gender" value="F">Female</label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email Address * </label>
              <input type="text" name="email" id="email" placeholder="E-Mail Address" class="form-control"
                     [(ngModel)]="signUpUser.email">
            </div>
            <div class="form-group">
              <label class="control-label" for="name">Full name * </label>
              <input type="text" name="name" id="name" placeholder="Full name" class="form-control"
                     [(ngModel)]="signUpUser.name">
            </div>
            <div class="form-group">
              <label class="control-label">Birthday</label>
              <my-date-picker placeholder="mm/dd/yyyy" name="mydate"
                              [(ngModel)]="myDatePicker" required></my-date-picker>
            </div>
            <div class="form-group">
              <label class="control-label" for="password">Password * </label>
              <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                     [(ngModel)]="signUpUser.password">
            </div>
            <div class="form-group">
              <label class="control-label" for="re-password">Retype Password * </label>
              <input type="password" name="re-password" id="re-password" placeholder="Retype Password" class="form-control"
                     [(ngModel)]="signUpUser.passwordConfirmation">
            </div>
            <div class="form-group">
              <h5> * Required fields</h5>
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-primary" (click)="signUp()">
            </div>

            <br>

            <div class="form-group">
              <label class="control-label" for="newsletter">Newsletter</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="newsletter" id="newsletter" [(ngModel)]="signUpUser.newsletter">
                  I want to receive exclusive offers by e-mail*
                </label>
              </div>
            </div>

            <br>

            <div class="form-group">
              <label> * I have read and understood BumaBikePH <a href="privacy-policy">Privacy Policy</a></label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
