<div *ngIf="product" class="container">


  <image-upload
    [max]="5"
    [maxFileSize]="148576"
    [dropBoxMessage]="'Drag an image here.'"
    [fileTooLargeMessage]="'Image uploaded too large.'"
    (removed)="onRemoved($event)"
    (uploadFinished)="onUploadFinished($event)"
    (uploadStateChanged)="onUploadStateChanged($event)"
    [uploadedFiles]="product.pictures">

  </image-upload>

  <form method="POST" action="javascript:void(0);" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label" for="product-name">Product Name</label>
      <input type="text" name="product-name" id="product-name" placeholder="Product Name" class="form-control"
             [(ngModel)]="product.name">
    </div>
    <div class="form-group">
      <label class="control-label" for="product-price">Price</label>
      <input type="text" name="product-price" id="product-price" placeholder="0.00" class="form-control"
             [(ngModel)]="product.price">
    </div>
    <div class="form-group">
      <label class="control-label" for="product-discount">Discount</label>
      <input type="text" name="product-discount" id="product-discount" placeholder="0%" class="form-control"
             [(ngModel)]="product.discount">
    </div>
    <div class="form-group">
      <label class="control-label" for="product-stock">Stock</label>
      <input type="text" name="product-stock" id="product-stock" placeholder="Stock left" class="form-control"
             [(ngModel)]="product.stock">
    </div>

    <div class="form-group">
      <label class="control-label">Product Highlights</label>
      <div *ngFor="let highlight of product.highlights">
        <div class="input-group">
          <span class="input-group-addon" id="highlight.id"><i class="fa fa-circle" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Highlight / Feature" [(ngModel)]="highlight.item" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon1">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addEmptyHighlight()">Add row</button>
    </div>

    <div class="form-group">
      <label class="control-label">Product Notes</label>
      <div *ngFor="let note of product.notes">
        <div class="input-group">
          <span class="input-group-addon" id="note.id"><i class="fa fa-circle" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Highlight / Feature" [(ngModel)]="note.item" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon1">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addEmptyNote()">Add row</button>
    </div>

    <div class="form-group">
      <label class="control-label" for="product-description">Product Description</label>
      <textarea type="text" name="product-description" id="product-description" placeholder="Product Description" class="form-control"
                [(ngModel)]="product.description"></textarea>
    </div>

    <div class="form-group">
      <label class="control-label">Product Specifications</label>

      <div *ngFor="let spec of product.specifications">
        <div class="input-group">
          <span class="input-group-addon" id="spec.id"><i class="fa fa-circle" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Specification Property" [(ngModel)]="spec.key" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon1">
          <input type="text" class="form-control" placeholder="Value" [(ngModel)]="spec.property" [ngModelOptions]="{standalone: true}" aria-describedby="basic-addon1">
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addEmptySpec()">Add row</button>

      <button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button>
    </div>

    <div class="form-group">
      <h5> * Required fields</h5>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary" (click)="saveProduct()">
    </div>

  </form>
</div>
