<div class="panel panel-default">
  <div class="panel-heading">My Wishlist</div>
  <!--<div class="panel-body">-->
  <!--<p>You have {{wishlists.length}} items on your wishlist</p>-->
  <!--</div>-->

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Availability</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wishlist of wishlists">
      <td>
        <img src="https://ph-live-01.slatic.net/p/2/gopro-hero5-12mp-4k-ultra-hd-action-camera-black-1475725653-6300996-cfc3b0af1b3f18142f13717669fadbca-webp-cart.jpg">
      </td>
      <td>
        <p>{{wishlist.name}}</p>
        <p>{{wishlist.description}}</p>
      </td>
      <td>
        <p *ngIf="wishlist.stock">In Stock</p>
        <p *ngIf="!wishlist.stock">No Available</p>
      </td>
      <td>
        <p>
          &#8369; {{wishlist.price}}
        </p>
        <p *ngIf="wishlist.discount">
          <s>&#8369; {{wishlist.original_price}}</s>
        </p>
      </td>
      <td>
        <a href="#" class="btn btn-primary" role="button">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Add to Cart
        </a>
        <a class="btn btn-danger" role="button" (click)="removeToWishlist(wishlist)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
