<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Shop by Category</h3>
        </div>

        <div class="panel-body">

          <ul *ngFor="let category of categories" class="nav nav-pills nav-stacked">
            <li role="presentation"><a (click)="getProducts(category.id)">{{category.name}}</a></li>
          </ul>

        </div>
      </div>

    </div>
    <div class="col-sm-9">

      <div class="product-list">

        <div *ngFor="let product of products" class="col-sm-6 col-md-4">
          <div class="thumbnail" [routerLink]="['/product', product.id]">
            <img *ngIf="product.pictures.length" class="product-image" src="{{product.pictures[0].url}}" alt="{{product.name}}">
            <img *ngIf="!product.pictures.length" class="product-image" src="https://www.vietnamwoodexpo.com/images/default.jpg" alt="{{product.name}}">
            <div class="caption">
              <h3>{{product.name}}</h3>
              <p>{{product.description}}</p>

              <h4>
                <p>
                  &#8369; {{product.discounted_price}}
                  <s *ngIf="product.discount" class="pull-right">&#8369; {{product.price}}</s>
                </p>
              </h4>
              <h5 *ngIf="product.discount">
                 -{{product.discount}}%
              </h5>

              <p>
                <a href="#" class="btn btn-primary" role="button">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  Add to Cart
                </a>
                <a class="pull-right">
                  <i *ngIf="!product.wishlist" class="fa fa-2x fa-heart-o" aria-hidden="true" (click)="toggleWishlist(product)"></i>
                  <i *ngIf="product.wishlist" class="fa fa-2x fa-heart" aria-hidden="true" (click)="toggleWishlist(product)"></i>
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


