<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="error.isError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error.errorMessage}}
          </div>
          <form method="POST" action="javascript:void(0);" enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label" for="email">E-Mail Address</label>
              <input type="text" name="email" id="email" placeholder="E-Mail Address" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label" for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <a class="forgotten-link" href="password/forgot">Forgot Your Password?</a>
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-primary" (click)="signIn()">
            </div>
            <div class="form-group">
              <label>Not a Member? <a [routerLink]="['/signup']">Sign Up Now</a></label>
            </div>

            <div class="form-group">
              Or
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <a class="btn btn-block btn-social btn-facebook" (click)="facebookSignIn()">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                  </a>
                  <a class="btn btn-block btn-social btn-google" (click)="googleSignIn()">
                    <span class="fa fa-google"></span>  Sign in with Google
                  </a>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
