
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Products</h3>
  </div>

  <div class="panel-body">

    <div class="panel panel-default">

      <table class="table admin-product-list">
        <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Availability</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img *ngIf="product.pictures.length" class="product-image" src="{{product.pictures[0].url}}">
            <img *ngIf="!product.pictures.length" class="product-image" src="https://www.vietnamwoodexpo.com/images/default.jpg">
          </td>
          <td>
            <p>{{product.name}}</p>
            <p>{{product.description}}</p>
          </td>
          <td>
            <p *ngIf="product.stock">In Stock</p>
            <p *ngIf="!product.stock">No Available</p>
          </td>
          <td>
            <p>
              &#8369; {{product.discounted_price}}
            </p>
            <p *ngIf="product.discount">
              <s>&#8369; {{product.price}}</s>
            </p>
          </td>
          <td>
            <a class="btn btn-primary" role="button" [routerLink]="['/admin/product-details', product.id]">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Update
            </a>
            <a href="#" class="btn btn-danger" role="button">
              <i class="fa fa-eye-slash" aria-hidden="true"></i>
              Hide
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
