

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">BumaBikePH</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left"><div class="input-group">
          <input type="text" class="form-control" placeholder="Search for item...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
        </div>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="!userSignedIn"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="!userSignedIn"><a [routerLink]="['/signup']">Signup</a></li>

        <li *ngIf="userSignedIn" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{name}}'s Account
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/profile']">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Manage My Account
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                My Orders
              </a>
            </li>
            <li>
              <a [routerLink]="['/profile/wishlist']">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                Wishlist
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                My Reviews
              </a>
            </li>
            <li><a href="#">My Returns and Cancellations</a></li>
            <li>
              <a (click)="signOut()">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
