<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">John Doe</h3>
        </div>

        <div class="panel-body">

          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a [routerLink]="['/admin']">Dashboard</a></li>
            <li role="presentation"><a [routerLink]="['/admin/user-list']">User Management</a></li>
            <li role="presentation"><a [routerLink]="['/admin/product-list']">Product Management</a></li>
            <li role="presentation"><a>Reports</a></li>
          </ul>

        </div>
      </div>

    </div>
    <div class="col-sm-9">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>


