<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">John Doe</h3>
        </div>

        <div class="panel-body">

          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a [routerLink]="['/profile']">Account Dashboard</a></li>
            <li role="presentation"><a [routerLink]="['/profile/personal-info']">Personal Information</a></li>
            <li role="presentation"><a href="#">Address List</a></li>
            <li role="presentation"><a [routerLink]="['/profile/wishlist']">Wishlist</a></li>
          </ul>

        </div>
      </div>

    </div>
    <div class="col-sm-9">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>


