
<div *ngIf="user" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Personal Information</h3>
  </div>

  <div class="panel-body">

    <div *ngIf="error.isError" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error.errorMessage}}
    </div>

    <form class="form-horizontal" method="POST" action="javascript:void(0);" enctype="multipart/form-data">

      <div class="form-group">
        <label class="control-label col-sm-2">Email Address</label>
        <div class="col-sm-10">
          <label class="control-label">{{user.email}}</label>
          <a>Change Email</a>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Mobile Number</label>
        <div class="col-sm-10">
          <label class="control-label"><a>Add your phone number</a></label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Full name</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="name" placeholder="Full name" class="form-control"
                 [(ngModel)]="user.name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Gender</label>
        <div class="col-sm-10">
          <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="user.gender" value="M">Male</label>
          <label class="radio-inline"><input type="radio" name="optradio" [(ngModel)]="user.gender" value="F">Female</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Birthday</label>
        <div class="col-sm-10">
          <my-date-picker placeholder="mm/dd/yyyy" name="mydate" [options]="myDatePickerOptions"
                          [(ngModel)]="myDatePicker" value="01/21/1994" required></my-date-picker>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <input type="submit" value="Update" class="btn btn-primary pull-right">
        </div>
      </div>

    </form>

  </div>
</div>
